html{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


body {
  display: flex;
flex-direction: column;
}

h1{
  align-self: center;
  margin-bottom: 80px;
  color: white;
}

section {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
}


img {
  height: 400px;
  width: auto;
  border-radius: 6px;
}


p {
  color: white;
  text-align: center;
}

  .hidden {
display: none;
}

  .middle-pile {
    position: relative;
  }

  .top-of-deck {
    top: 2%;
    left:5%;
  }

  .player1-pile > img {
    box-shadow: 0px 0px 100px deeppink;
  }

  .player2-pile > img{
    box-shadow: 0px 0px 100px blue;
  }
